/*
    Proyecto desarrolladó por Juan Pablo Barrera  - https://github.com/juanpablo-is/
*/

:root {
    --colorPrincipal: #292E34;
    --colorSegundario: hsla(0, 0%, 100%, .1);
    --colorOscuro: #272C31;
    --fuente: 'Barlow', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: url("../images/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#principal {
    width: 60%;
    margin: 50px 0;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--colorPrincipal);
}

#btnContinuar {
    cursor: pointer;
    border: none;
    margin: 10px auto;
    padding: 12px;
    display: flex;
    justify-content: center;
    width: 30%;
    color: white;
    font-family: var(--fuente);
    outline: none;
    font-weight: bold;
    border-radius: 7px;
    background-color: var(--colorSegundario);
    transition: background-color .3s;
}

#btnContinuar:hover {
    background-color: hsla(0, 0%, 100%, .4);
}

.camposInicio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    text-align: center;
    color: white;
    font-family: var(--fuente);
    margin: 10px 0;
}

.inputInicio {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.inputValores {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.inputInicio label, .inputValores label {
    padding: 10px 0;
    color: white;
    width: 100%;
    font-family: var(--fuente);
}

.inputInicio input, .inputValores input {
    width: 100%;
    padding: 10px;
    background-color: var(--colorOscuro);
    border-radius: 7px;
    margin: 0 auto;
    color: white;
    border: none;
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .4);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .4);
    transition: all .3s;
}

.inputValores input {
    max-width: 60px;
    text-align: center;
}

.inputInicio input:focus, .inputValores input:focus {
    background-color: var(--colorSegundario);
    outline: none;
}

.inputValores h4 {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.camposJS {
    display: flex;
}

.campoIzquierdaJS {
    flex: 1 1 80%;
    display: grid;
}

.campoDerechaJS {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex: 1 1 20%;
    width: 100%;
}

select {
    width: 50%;
    background-color: var(--colorPrincipal);
    border: none;
    font-weight: bold;
    outline: 0;
    color: white;
}

select:focus {
    outline: 0;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--colorPrincipal);
    width: 100%;
}

footer h2 {
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    padding: 5px 0;
    font-family: var(--fuente);
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*
    Proyecto desarrolladó por Juan Pablo Barrera  - https://github.com/juanpablo-is/
*/